html{
  width: 100%;
}
body{
  background-color: #291965 !important;
}
.navbar-custom{
  background-color: #1A1A1A;
  max-width: 100%;
}
img{
  height: 90px;
  width: 100px;
}
.navbar-toggler-icon{
  background-color: white;
}
.nav-form{
  background-color:#1A1A1A;
}
ul{
  position: relative;
  top: 40px;
}
@media only screen and (max-width: 991px) {
  input{
    display: none;
  }
  .small{
    display: none
  }
}
input{
  position: relative;
  left: 35%;
  background-color: #1a1a1a;
  border: 0;
  color: white;
  border-bottom: 2px solid white;
}
li{
  font-size: 20px;
  position: relative;
}
.small{
  height: 20px;
  width: 20px;
  position: relative;
  left: 34%;
}
.music{
  display: flex;
  justify-content: center;
  align-items:center;
}
.part{
  height: 10px;
  background-color: #6EA1ED;
}
.you{
  color:white;
  left: 5%;
  position: relative;
  top: 10px;
}
.owl1{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  background-image: url("first.jpg");
  background-position: center;
  background-size: cover;
}
.owl-m{
  position: relative;
  left: 5%;
  right: 5%;
}
.owl2{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  background-image: url("three.jpg");
  background-position: center;
  background-size: cover;
}
.owl3{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  background-image: url("owl3.jpg");
  background-position: center;
  background-size: cover;
}
.owl4{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  background-image: url("owl4.jpg");
  background-position: center;
  background-size: cover;
}
.owl5{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  background-image: url("owl5.jpg");
  background-position: center;
  background-size: cover;
}
.foot{
  background-color: #1a1a1a;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-img{
  display: block;
}
.new-ar{
  height: 200px;
  width: 200px;
  position: relative;
  left: 15%;
}
td{
  position: relative;
  left: 25%;
}
table{
  border-spacing: 15px 15px;
}
